---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'About'

import { Image } from 'astro:assets'

import ErinBabySmile from '../../public//assets/images/erin/erin_smile_baby.jpeg'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full bg-primary pt-14 sm:pt-[76px]">
    <div
      class="pt-4 sm:py-4 md:py-12 px-4 sm:px-8 flex justify-center transition-all duration-300 ease-in-out"
    >
      <div
        class="max-w-6xl grid grid-cols-1 md:grid-cols-8 gap-y-12 md:gap-y-0 md:gap-x-4 lg:gap-x-12 transition-all duration-300 ease-in-out"
      >
        <div class="w-full flex justify-center items-start md:col-span-3">
          <Image
            src={ErinBabySmile}
            alt="Toddlers playing"
            class="w-full max-w-md rounded-md object-cover object-center shadow-lg md:min-h-[675px]"
          />
          <!-- max-h-[500px] lg:min-w-[500px] lg:h-[450px] -->
        </div>

        <div
          class="flex flex-col gap-y-8 w-full h-full justify-center px-2 pb-12 md:col-span-5"
        >
          <h1 class="text-7xl">Meet Erin</h1>
          <p>
            My journey to becoming a specialist in infant feeding began during
            my occupational therapy studies. One day, my professor shared a
            story about a caregiver who cried tears of joy because their baby
            finally latched and fed comfortably for the first time. My immediate
            thought was, "This is incredible! I want to help families like
            that!" I’ve always been inspired by the opportunity to make such a
            profound difference in someone’s life. After graduating, I pursued
            additional training in infant feeding and lactation support,
            refining my skills through certifications and hands-on experience.
            The trust families place in me to address sensitive feeding
            challenges, from latch issues to bottle refusal, is the driving
            force behind my work. I spend my days openly discussing feeding,
            sensory needs, and family dynamics to empower caregivers with the
            tools and knowledge they need to succeed. These struggles are
            common, but they’re not something you have to endure alone—together,
            we can create a path toward a calmer, happier feeding journey.
          </p>

          <p>
            I currently live in Baltimore county with my partner. Outside of the
            clinic, you will find me doing yoga, trying a new Baltimore
            restaurant or at a local coffee shop.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
