---
title: 'About Tiny Tides Therapy, Erin Helms OTR/L, CLC'
description: 'Meet Erin, the founder of Tiny Tides Therapy. She holds a Doctorate in Occupational Therapy and is a Certified Lactation Counselor. Her passion is providing holistic, functional therapy that meets families where they are, targeting specific goals to support each unique journey.'

import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'About'
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="w-full h-full bg-primary pt-14 sm:pt-[76px] flex flex-col items-center"
  >
    <div class="max-w-7xl">
      <div
        class="pt-4 sm:py-4 md:py-12 px-4 sm:px-8 flex justify-center transition-all duration-300 ease-in-out"
      >
        <div
          class="max-w-6xl grid grid-cols-1 md:grid-cols-8 gap-y-12 md:gap-y-0 md:gap-x-4 lg:gap-x-12 transition-all duration-300 ease-in-out"
        >
          <div class="w-full flex justify-center items-start md:col-span-3">
            <img
              src="https://dkbi9cj3nodif.cloudfront.net/erin_smile_baby.jpeg"
              alt="Toddlers playing"
              class="w-full max-w-md rounded-md object-cover object-center shadow-lg md:min-h-[675px]"
            />
            <!-- max-h-[500px] lg:min-w-[500px] lg:h-[450px] -->
          </div>

          <div
            class="flex flex-col gap-y-8 w-full h-full justify-center px-2 pb-12 md:col-span-5"
          >
            <h1 class="text-5xl">Meet Erin</h1>
            <p>
              Hi, I’m Erin, the founder of Tiny Tides Therapy. I hold a
              Doctorate in Occupational Therapy and am a Certified Lactation
              Counselor. My passion is providing holistic, functional therapy
              that meets families where they are, targeting specific goals to
              support each unique journey.
            </p>

            <p>
              At Tiny Tides, we understand that a child’s development, much like
              the ocean, comes in many waves. From feeding and meeting
              milestones to managing sensory needs, every stage of growth brings
              its own set of challenges and triumphs. I specialize in supporting
              infants through these waves of development, offering guidance in
              areas such as tummy time, breast and bottle feeding, transitioning
              to solids, oral motor dysfunction, and tongue and lip ties. I also
              work with families on sensory processing, regulation, body
              tension, and infant massage to nurture the whole child.
            </p>

            <p>
              Tiny Tides Therapy is dedicated to guiding families through all
              the waves of development, while ensuring a compassionate and
              individualized plan that fosters confidence and success. It’s my
              mission to empower families while creating a sense of community
              where families can thrive together.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full h-[1px] bg-black/10 px-2 my-8"></div>

      <div
        class="pt-4 py-12 px-4 sm:px-12 transition-all duration-300 ease-in-out"
      >
        <h1 class="text-4xl text-center">Trainings and Certifications:</h1>

        <div class="py-8 grid grid-cols-1 md:grid-cols-2 gap-16">
          <div>
            <p class="mb-4 text-2xl underline text-center">
              Infant Development:
            </p>
            <ul class="flex flex-col gap-y-1.5 text-xl ml-2">
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Doctor of Occupational Therapy
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Infant Positioning and Handling
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                A Holistic Approach to Supporting Sleep for Breastfeeding Dyads
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Certified Tummy Time! Method Provider
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Bodywork for Better Breastfeeding: Hands-on Modalities to Improve
                Feeding Readiness and Outcomes
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Understanding Primitive Reflexes
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                The DIR Floortime Approach
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Making Sense of Meltdowns
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Sensory Integration and Processing 101
              </li>
            </ul>
          </div>

          <div>
            <p class="mb-4 text-2xl underline text-center">
              Feeding/Lactation:
            </p>
            <ul class="flex flex-col gap-y-1.5 text-xl ml-2">
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Certified Lactation Counselor
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Tongue Ties, Breastfeeding and The Lactation Savvy Therapist-The
                Lactation OT
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Gastrointestinal System Disorders in Infancy and Childhood and their
                Impact on Feeding
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Failure to Thrive, Suboptimal Weight Gain, and The Lactation Savvy
                Therapist-The Lactation OT
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                The Occupational Therapist’s Role in Breastfeeding
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Bottle Feeding Skills: Refining Clinical Reasoning for Selection
                and Use-The Lactation OT
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Feed the Peds Certification
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                AEIOU Approach to Feeding
              </li>
              <li
                class="flex gap-x-2 items-center transition-all duration-200 ease-out"
              >
                <div class="min-w-[8px] w-2 h-2 bg-[#282082] rounded-full">
                </div>
                Mouth Moves
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
