---
title: 'FAQs, Baltimore Pediatric Occupational Therapy'
description: 'Frequently asked questions about Tiny Tides Therapy, Baltimore Pediatric Occupational Therapy'

import BaseLayout from '../layouts/BaseLayout.astro'
import Faq from '../components/Faq.svelte'
import type { MarkdownInstance } from 'astro';

const pageTitle = 'FAQs'

const markdownFiles = import.meta.glob<MarkdownInstance<any>>('./faqs/*.md', { eager: true });

const faqs = await Promise.all(
  Object.values(markdownFiles).map(async (file) => ({
    slug: file.url,
    html: await file.compiledContent(), // 👈 await here
    frontmatter: file.frontmatter,
  }))
);
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full bg-primary pt-14 md:pt-[76px] min-h-screen flex justify-center">
    <div
      class="flex flex-col max-w-2xl items-center justify-center my-8 px-4 transition-all duration-300 ease-in-out"
    >
      <h1 class="header-title mb-4 md:mb-8 text-center">
        <span class="straight_underline z-10">FAQs</span>
      </h1>

      <Faq client:load faqs={faqs} />
    </div>
  </div>
</BaseLayout>
