---
title: 'Services, Baltimore Pediatric Occupational Therapy, Erin Helms OTR/L, CLC'
description: 'Tiny Tides Therapy offers a variety of services to support your child’s development. From feeding therapy to sensory processing, we provide individualized care to help your child reach their full potential. Baltimore Pediatric Occupational Therapy'

import Service from '../components/Service.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
const markdownFiles = await Astro.glob('./services/*md')

const services = Object.values(markdownFiles)

const pageTitle = 'Services'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full bg-primary pt-14 md:pt-[76px]">
    <div
      class="w-full flex flex-col gap-y-8 px-4 md:px-12 py-8 treat-item transition-all duration-300 ease-in-out"
    >
      {
        services.map((service) => (
          <Service
            title={service.frontmatter.title}
            duration={service.frontmatter.duration}
          >
            <service.Content />
          </Service>
        ))
      }
    </div>
  </div>
</BaseLayout>
