---
import Logo from '../Logo.astro'
import Hambuger from './Hambuger.astro'
---

<nav
  class="bg-slate-100 sm:bg-[#232020]/60 w-full z-30 fixed transition-all duration-300 ease-in-out"
>
  <div class="mx-auto border-b border-black/50 sm:border-white">
    <div
      class="hidden sm:flex justify-between items-center transition-all duration-300 sm:px-10 md:px-20 lg:px-28 text-white"
    >
      <div class="hidden md:block">
        <a href="/">
          <Logo fill="white" height="68px" width="68px" />
        </a>
      </div>

      <div class="w-full flex sm:justify-center md:justify-end gap-x-6">
        <div class="navbtn sm:my-6 hover:scale-[1.04]">
          <a href="/">Home</a>
        </div>

        <div class="navbtn sm:my-6 hover:scale-[1.04]">
          <a href="/about">About</a>
        </div>

        <div
          class="navbtn sm:py-6 flex justify-between group relative before:bottom-4"
          id="services-navitem"
        >
          <!-- <a href="/what-we-treat">What We Treat</a> -->
          <div class="">Services</div>
          <div
            class="flex items-center ml-2 mt-[1px] transition-all duration-300 ease-in-out opacity-0 -translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 group-hover:rotate-180"
          >
            <svg
              data-baseweb="icon"
              viewBox="0 0 24 24"
              class="w-4 h-4 fill-white chevron"
            >
              <title>Chevron Down</title>
              <path
                transform="rotate(90, 12, 12)"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 12C9 12.2652 9.10536 12.5196 9.29289 12.7071L13.2929 16.7071C13.6834 17.0976 14.3166 17.0976 14.7071 16.7071C15.0976 16.3166 15.0976 15.6834 14.7071 15.2929L11.4142 12L14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289C14.3166 6.90237 13.6834 6.90237 13.2929 7.29289L9.29289 11.2929C9.10536 11.4804 9 11.7348 9 12Z"
              ></path>
            </svg>
          </div>

          <div
            class="absolute bg-[#232020]/60 rounded-sm mx-4 w-40 z-20 -right-8 -bottom-[121px] transition-all duration-300 ease-in-out opacity-0 transform -translate-y-4 invisible flex flex-col"
            id="services-dropdown"
          >
            <a
              href="/what-we-treat"
              class="py-4 px-2 border-white border-b border-l border-r hover:bg-gray-700 w-full h-full"
              >What We Treat</a
            >
            <a
              href="/services"
              class="py-4 px-2 border-white border-b border-l border-r hover:bg-gray-700 w-full h-full"
              >Services</a
            >
          </div>
        </div>

        <!-- <div class="navbtn sm:my-6 hover:scale-[1.04]">
          <a href="/faqs">Services</a>
        </div> -->

        <div class="navbtn sm:my-6 hover:scale-[1.04]">
          <a href="/faqs">FAQs</a>
        </div>

        <div
          class="hidden md:flex items-center text-[18px] justify-center transition-all duration-300 cursor-pointer"
        >
          <a
            href="/contact"
            class="px-4 rounded-xl hover:bg-slate-100 hover:ring-2 hover:ring-slate-300 bg-white text-black"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
    <div
      class="pt-2 flex flex-col justify-center items-center sm:hidden text-white"
    >
      <Hambuger />
    </div>
  </div>
</nav>

<script>
  const handleNavigation = () => {
    const serviceNavitem = document.getElementById('services-navitem')

    function toggleServices() {
      console.log('Clicking Services')

      const serviceDropdown = document.getElementById('services-dropdown')

      if (serviceDropdown) {
        serviceDropdown.classList.toggle('expanded')
      }
    }

    if (serviceNavitem) {
      serviceNavitem.addEventListener('click', toggleServices)
    }
  }

  // Reinitialize on navigation
  document.addEventListener('astro:page-load', handleNavigation) // Astro-specific event
</script>

<style>
  /* Active dropdown state */
  .expanded {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
</style>
