---
const { text } = Astro.props
---

<li class="flex gap-x-2 items-start transition-all duration-200 ease-out">
  <div class="min-w-[8px] w-2 h-2 mt-2.5 bg-[#282082] rounded-full"></div>
  {text}
</li>
