---
import Navbar from '../components/navbar/Navbar.astro'
import Footer from '../components/Footer.astro'

const { pageTitle, description } = Astro.props

import { ClientRouter } from "astro:transitions";

import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/wave.svg?" />

    <link
      rel="icon"
      href="/logo-wave.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/logo-wave.png"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="/logo-wave.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Tiny Tides Therapy</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
      as="font"
      crossorigin="anonymous"
    /> -->
    <meta
      property="og:image"
      content="/logo-wave.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
      rel="stylesheet"
    />

    <!-- Socials -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Infant Development, Feeding & Lactation"
    />
    <meta
      property="og:description"
      content="Get expert lactation and infant feeding guidance from a certified occupational therapist."
    />
    <meta
      property="og:image"
      content="/logo-wave.png"
    />
    <meta property="og:url" content="https://tinytidestherapy.com" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Infant Development, Feeding & Lactation"
    />
    <meta
      name="twitter:description"
      content="Expert lactation and infant feeding guidance from a certified occupational therapist."
    />
    <meta
      name="twitter:image"
      content="/logo-wave.png"
    />

    <meta name="description" content={description} />

    <link rel="manifest" href="/manifest.webmanifest" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TTKN5F33');
    </script> -->
    <!-- End Google Tag Manager -->
    </script>
  </head>
  <ClientRouter />

  <body class="">
    <Navbar />

    <slot />

    <Footer />
  </body>

  <script is:inline type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "MedicalClinic",
      "name": "Tiny Tides Therapy",
      "description": "Specialized lactation support and infant occupational therapy.",
      "url": "https://tinytidestherapy.com",
      "logo": "/logo-wave.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1348 Andre St",
        "addressLocality": "Baltimore",
        "addressRegion": "MD",
        "postalCode": "21230",
        "addressCountry": "US"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "(410) 490-8440",
        "contactType": "customer service"
      }
    }
  </script>
</html>
